html, body{
    box-sizing: 'border-box',
}
.ant-upload-select{
    width: 100%;
    border : 1px dashed #48d86b!important;
    border-radius: 5px;
    padding-top : 40px!important;
    padding-bottom : 40px!important;
    display: flex!important;
    justify-content: center;
    align-items: center;
}
.DraftEditor-editorContainer h1{
    font-size: 2rem;
    font-weight: 700;
}
.DraftEditor-editorContainer h2{
    font-size: 1.8rem;
    font-weight: 600;
}
.DraftEditor-editorContainer h3{
    font-size: 1.6rem;
    font-weight: 500;
}
.DraftEditor-editorContainer h4{
    font-size: 1.4rem;
    font-weight: 500;
}
.DraftEditor-editorContainer h5{
    font-size: 1.2rem;
    font-weight: 500;
}
.DraftEditor-editorContainer h6{
    font-size: 1rem;
    font-weight: 500;
}